inst/
root/
src/cmd/textproc/ed/ed
src/cmd/textproc/sed/sed
src/cmd/textproc/more/more
src/cmd/textproc/more/.gdbinit
src/cmd/textproc/more/*.html
src/cmd/textproc/more/*.html1
src/cmd/textproc/sed/sed.o
src/cmd/textproc/sed/.gdbinit
src/cmd/textproc/vis/.gdbinit
src/cmd/textproc/vis/*.html1
src/cmd/textproc/vis/*.html
src/cmd/textproc/vis/vis
src/cmd/textproc/sed/*.html1
src/cmd/textproc/sed/*.html
src/cmd/textproc/ed/*.html
src/cmd/textproc/ed/*.html1
src/cmd/textproc/ed/.gdbinit
src/lpts/lpts.json
*.o
*.so
*.a
*.out
*.shlib
src/kat/amd64/
src/kat/i386/
src/kat/kat
src/kat/kat.kmod
src/kat/kat.kmod.map
src/kat/katadm
src/kat/kmod.o
src/kat/machine/
src/kat/x86/
src/kat/xen/
