-- ==========================================================
-- Kayoko Kernel Access Table (KAT) Configuration
-- Format: Identity [TAB] Path [TAB] [!]Privilege
-- ==========================================================

-- 1. THE "ADMIN" ROLE
%wheel	*	vfs.write|vfs.read|vfs.retain

-- 2. THE "NETWORK" ROLE
%operators	*	net.bind|sys.time

-- 3. SPECIFIC APPLICATION HARDENING
www	/usr/local/libexec/httpd	net.bind

-- 4. DEVELOPER SANDBOX
lars	*	sys.module|dev.rawio|sys.chroot
dummy	*	!net.raw
root	*	!net.raw
