# User/Group   Host = Target   ABAC_OPTIONS : PRIVILEGES
# Admins can only load modules from the physical console
%sysadmin      ALL = /usr/sbin/modload  CONSOLE_ONLY : SYS_MODULE

# Backups only allowed at night
operator       ALL = ALL  TIME=0000-0300 : VFS_READ

# Restrict web server from ever touching raw devices
www            ALL = ALL : !DEV_RAWIO

# Security officer requires a specific launcher
%secofficer    ALL = ALL  PARENT=/usr/bin/k-auth : SYS_REBOOT
